#box{
	width:500px;
	height:500px;
	background: -webkit-linear-gradient(left,red,yellow,red);
	background: -moz-linear-gradient(left,red,yellow,red);
	background: -ms-linear-gradient(left,red,yellow,red);
	background: -o-linear-gradient(left,red,yellow,red);
}

